/*GENERAL*/
*{
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 50;
}
h1{
	font-size: 4rem;
	font-weight: 700;
}
h2{
	font-size: 1.625rem;
}
h3{
	font-size: 1rem;
}
section{
	background: #000000;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 8px solid #222;
}
section div.contenido{
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
section div.contenido div{
	
}
/*Está dentro de un contenedor con 2 cajas más, pero esas 2 cajas
están flotando y se desbordan, para evitar eso, ponemos una caja más
y aplicamos RESTAURAR con CLEAR BOTH
Queda la caja debajo de todo y ocupando el 100% del ancho de la caja padre*/
.restaurar{
	clear: both;
}

/*GENERAL*/
/*FONDO*/
html, body, .imgFondo{
	height: 100%;
}

.imgFondo{
	background: url(../img/fondo.jpg);
}

/*FONDO*/
/*CABECERA*/
section.cabecera{
 	background: none;
 	position: absolute;
 	top: -30px;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
}

nav{
	margin: 0 2.5rem;
	padding: 10px;
	background: none;
}
div.logo{
 	float: left;
}
div.login{
 	float: right;
}
div.login:hover{
	cursor: pointer;
}
div.login span{
	padding: 8px 12px;
	background: #e50914;
	border-radius: 4px;
}

.presentacion{
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: red;*/
}
.presentacion input{
	height: 50px;
	width: 450px;
	margin-top: 8px;
	margin-bottom: 3px;
	border-radius: 2px 0px 0px 2px;
	border: solid 1px #5695e9;
	padding-left: 11px;
	color: #545252;
}
.presentacion span{
	background: #D50812;
	padding: 14.5px 60px 16px 60px;
	font-weight: 800;
	margin-left: -5px;
	border: solid #D50812;
	border-radius: 0px 4px 4px 0px;
}

.presentacion span:hover, .contPreguntas span:hover{
	cursor: pointer;
	background: #EC0B16;
	border: solid #EC0B16;
}
/*CABECERA*/
/*TV*/
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.flotanteTexto{
	width: 59%;
}
.flotanteImagen{
	width: 39%;
}
.contenido img{
	width: 100%;
	height: auto;
	border: 0;
	position: relative;
	z-index: 2;
}
.contenido h2{
	font-weight: bold;
	font-size: 50px;
}
.contenido p{
	font-size: 25px;
	font-weight: 200;
}
.tv video {
    position: absolute;
    transform: translate(-373px, 67px);
    width: 313px;
    z-index: 1;
}
.disfruta video {
    position: absolute;
    transform: translate(-348px, 34px);
    width: 263px;
    z-index: 1;
}
/*TV*/
/*DESCARGA*/
.tarjetaSub1, .portada{
	/*CAJA DE LA IMAGEN PORTADA Y EL TEXTO*/
	display: flex;
	align-items: center;
}
.tarjetaSub1{
	width: 60%;
	margin: auto;
	border: solid 2px #4A4646;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	z-index: 1;
	background: black;
}
.tarjeta{
	position: relativ;
	transform: translate(-90px, -41px);
}
/*DESCARGA*/
/*PREGUNTAS*/
.contPreguntas{
	margin: auto;
	text-align: center;
	width: 750px;
}
.contPreguntas div{
	text-align: left;
	font-size: 24px;
}
.preguntas h2{
	font-weight: bold;
	font-size: 40px;
}
.pregunta{
	background: #303030;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.respuesta{
	background: #303030;
	margin-bottom: 5px;
	margin-top: 5px;
}
.pregunta p, .respuesta p{
	margin: 10px;
	padding-left: 5px;
}
.respuesta hr{
	border: solid 1px #262626;
}
.pregunta:hover .respuesta{
	/*Da por entendido que si el contenido tiene hasta 500px
	el hover se va a alargar hasta llegar a los 500px, pero, si tiene
	menos de 500px, va a tomar el tamaño que tiene el contenido, osea, limita
	su máximo, pero su mínimo es según el contenido*/
	max-height: 500px;
}
.respuesta{
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
}
.contPreguntas input{
	height: 50px;
	width: 400px;
	margin-top: 8px;
	margin-bottom: 3px;
	border-radius: 2px 0px 0px 2px;
	border: solid 1px #5695e9;
	padding-left: 11px;
	color: #545252;
}
.contPreguntas span{
	background: #D50812;
	padding: 15px;
	padding-bottom: 16.5px;
	font-weight: 500;
	margin-left: -5px;
	border: solid #D50812;
	border-radius: 0px 4px 4px 0px;
}
.contPreguntas h3{
	font-size: 15px;
}
/*PREGUNTAS*/
/*PIE*/
.info{
	columns: 4 20px;
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
}
.pie>p{
	font-size:  20px;
	color: #909090;
	display: flex;
	justify-content: center;
	padding-bottom: 55px;
}
.pie .info div{
	
}
.pie .info div p{
	font-size:  15px;
	color: #909090;
	padding: 5px;
}
/*PIE*/