/*Declaramos las variables de color que usarems*/
:root{ 


    --color-fondo: #1f5d5e;
    --color-nav: #9ce451;
    --color-contenido1: #25b386;
    --color-contenido2: #4cb3a0;
    --color-letras: #cce1f4;

}
*{
    margin: 0;
    padding: 0px;
    box-sizing: inherit;
}
html{
    /* height: 100vh;
    width: 100vw; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    /* height: 100vh;
    width: 100vw; */
    color: #ffffff;
    font-family: 'Lemonada', cursive;
}
a{
    /*Le sacamos el  subrallado*/
    text-decoration: none;
}
ul{
    /*Le sacamos los puntos de lista*/
    list-style: none;
}
/*--------------------------------ENCABEZADO DE LA PÁGINA------------------------------------------*/

#navbar{
    background-color: var(--color-nav);
    /*Flexibilizamos a el NAV*/
    display: flex;
    /*Mandamos a la LISTA DESORDENADA al final*/
    justify-content: flex-end;
    /*Hacemos que quede fijo*/
    position: fixed;
    /*Agregamos el ancho que va a tener*/
    width: 100vw;/*Altura no, porque va a ser respecto al contenido, sino desborda*/
    /*Lo posicionamos en sus ejes correspondientes*/
    top: 0;
    left: 0;
    z-index: 2;
}
#navbar ul{
    /*Flexibilizamos para que cada Lista se ponga una alado de la otra*/
    display: flex;
    /*Agregamos un margen a la derecha*/
    margin-right: 2rem;

}
#navbar li:hover a{
    background-color: white;
    color: black;
    font-weight: bold;
}
#navbar a{
    color: white;
    /*Transformamos a todo el texto con la primera letra en Mayuscula*/
    text-transform:capitalize;
    /*Convertimos a cada ANCLA en una caja, para darle tamaño, margen, y padding*/
    display: block;
    font-size: 1.3rem;
    /*Le damos paddign para que ocupe por completo cada LI, asi cuando apsemos por su contenedor
    el ANCLA va a tener su mismo alto y podremos seleccionarlo y no a su LI*/
    padding: 1.3rem;
}


/*-----------------------------------------------------------------------------------------------------*/
#contenedor-p{
    background-color: chocolate;
}

/*--------------------------------BIENVEIDA DE LA PÁGINA------------------------------------------*/
#bienvenido{
    background-color: var(--color-fondo);
    height: 100vh;
    width: 100%;
    /*Flexibilizamos contenido*/
    display: flex;
    /*Hacemos que el contenido sea 1 sola columna*/
    flex-direction: column;
    /*Acomodamos en el eje X    --->(Media pantalla)<---*/
    align-items: center;
    /*Acomodamos en el eje Y  (Media pantalla)*/
    justify-content: center;
}
#bienvenido h1, #contacto h1{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
#bienvenido p{
    font-weight:bold;
    font-style: italic;
}
/*--------------------------------PROYECTOS DE LA PÁGINA------------------------------------------*/
#proyectos{
    background-color: var(--color-contenido2);
    text-align: center;
    padding: 8rem 5rem;
}
#proyectos h1{
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--color-letras);
    font-size: 3rem;
    max-width: 640px;
} 

/*Aplicamos GRID al contenedor*/
.projects-grid{
    display: grid;
    /*Dividimos al contenido en 2 columnas de 100px*/
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    /*Agregamos espacio entre las columans*/
    grid-column-gap: 2rem;
    /*Agregamos espacio entre las filas*/
    grid-row-gap: 6rem;
    max-width: 1200px;
    margin-bottom: 6rem;
}
/*IMAGEN de cada proyecto*/
.project-image{
    height: calc(100% - 6rem);
    width: 100%;
    /* object-fit: cover; */
}
.project{
    background-color: var(--color-nav);
    border-radius: 5px;
}
.project-title {
    font-size: 1.5rem;
    padding: 2rem 0.5rem;
}
img{
    display: block;
}
.btn-all{
    background-color: var(--color-nav);
}
/*--------------------------------ZONA CONTACTOS DE LA PÁGINA------------------------------------------*/
#contacto{
    background-color: var(--color-fondo);
    height: 70vh;
    /*Flexibilizamos contenido*/
    display: flex;
    /*Hacemos que el contenido sea 1 sola columna*/
    flex-direction: column;
    /*Acomodamos en el eje X    --->(Media pantalla)<---*/
    align-items: center;
    /*Acomodamos en el eje Y  (Media pantalla)*/
    justify-content: center;
    text-align: center;

}
#contacto p{
    font-style: oblique;
}
.redes{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.redes a{
    color: var(--color-letras);
}
/*Sombreado a la parte de iconos de contacto*/
.contact-details {
    text-shadow: 2px 2px 1px #1f1f1f;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
/*--------------------------------PIE DE LA PÁGINA------------------------------------------*/
#pie{
    background-color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    font-size: 0.80rem;
    height: 20vh;
    border-top: 5px solid var(--color-nav);
}

@media(max-width: 912px){
    #contacto{
        height: 80vh;  
    }
}
@media(max-width: 820px){
    html{
        font-size: 58%;
    }
    #navbar{
        justify-content: center;

    }
    #navbar ul{
        margin: 0 1rem;
    }

    /*-------------------------------------------------------------------------------*/
    #bienvenido h1, #contacto h1{
        text-align: center;
    }
    /*-------------------------------------------------------------------------------*/
    #contacto{
        height: 80vh;  
    }
}
@media(max-width: 600px){
    .projects-grid{
        /*Dividimos al contenido en 2 columnas de 100px*/
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
        /*Agregamos espacio entre las filas*/
        grid-row-gap: 2rem;
    }
    #pie{
        flex-direction: column;
        text-align: center;
    }
}